<!-- // Basic Horizontal form layout section start -->
<div class="row d-flex justify-content-center">

  <div class="col-md-6 col-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">

          <%= form_with(model: employee, local: true, class: "form form-horizontal") do |form| %>
          <% if employee.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

            <ul>
              <% employee.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
          <div class="form-body">
            <div class="row">
              <div class="col-12">
                <div class="form-group row">
                  <div class="col-md-4">
                    <span> Name </span>
                  </div>
                  <div class="col-md-8">
                    <div class="position-relative has-icon-left">
                      <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
                      <div class="form-control-position">
                        <i class="feather icon-user"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <div class="col-md-4">
                    <span> Date of Birth </span>
                  </div>
                  <div class="col-md-8">
                    <div class="position-relative has-icon-left">
                      <%= form.date_select :dob, class: "form-control", start_year: 1950, end_year: Time.now.year  %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <div class="col-md-4">
                    <span> Gender
                    </span>
                  </div>
                  <div class="col-md-8">
                    <div class="position-relative has-icon-left">
                      <%= form.select(:gender, options_for_select([['Male', 'male'], ['Female', 'female']]), {:prompt => 'Select Gender'}, {:class=>'custom-select'})%>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <div class="col-md-4">
                    <span> Address
                    </span>
                  </div>
                  <div class="col-md-8">
                    <div class="position-relative has-icon-left">
                      <%= form.text_field :address, class: "form-control", placeholder: "Address" %>
                      <div class="form-control-position">
                        <i class="feather icon-lock"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <div class="col-md-4">
                    <span> Personal Number
                    </span>
                  </div>
                  <div class="col-md-8">
                    <div class="position-relative has-icon-left">
                      <%= form.text_field :pn, class: "form-control", placeholder: "Personal Number" %>
                      <div class="form-control-position">
                        <i class="feather icon-lock"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <div class="col-md-4">
                    <span> National ID
                    </span>
                  </div>
                  <div class="col-md-8">
                    <div class="position-relative has-icon-left">
                      <%= form.text_field :national_id, class: "form-control", placeholder: "National ID" %>
                      <div class="form-control-position">
                        <i class="feather icon-lock"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group row">
                  <div class="col-md-4">
                    <span> Workplace
                    </span>
                  </div>
                  <div class="col-md-8">
                    <div class="position-relative has-icon-left">
                      <%= form.collection_select(:workplace_id, Workplace.all, :id, :name, {}, {:class=>'custom-select'}) %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-8 offset-md-4">
                <button type="submit" class="btn btn-primary mr-1 mb-1">Submit</button>
                <button type="reset" class="btn btn-outline-warning mr-1 mb-1">Reset</button>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // Basic Horizontal form layout section end -->