<p id="notice"><%= notice %></p>

<h1>Practitioners</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Registration</th>
      <th>Location</th>
      <th>Email</th>
      <th>Fax</th>
      <th>Signature</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @practitioners.each do |practitioner| %>
      <tr>
        <td><%= practitioner.name %></td>
        <td><%= practitioner.address %></td>
        <td><%= practitioner.registration %></td>
        <td><%= practitioner.location %></td>
        <td><%= practitioner.email %></td>
        <td><%= practitioner.fax %></td>
        <td><%= practitioner.signature %></td>
        <td><%= link_to 'Show', practitioner %></td>
        <td><%= link_to 'Edit', edit_practitioner_path(practitioner) %></td>
        <td><%= link_to 'Destroy', practitioner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Practitioner', new_practitioner_path %>
