<!-- Doing this to  make sure the navigation bar hightlights the correct tabs -->
<% content_for :practitioners do %>
active
<% end %>

<!-- information start -->
<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-12 ">
    <div class="card">
      <div class="card-header">
        <div class="card-title mb-2">About</div>
      </div>
      <div class="card-body">
        <div class="card-text">
          <dl class="row">
            <dt class="col-sm-3 text-right">Name</dt>
            <dd class="col-sm-9"> <%= @practitioner.name %></dd>
          </dl>

          <dl class="row">
            <dt class="col-sm-3 text-right">Address</dt>
            <dd class="col-sm-9"> <%= @practitioner.address %></dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3 text-right">Registration</dt>
            <dd class="col-sm-9"> <%= @practitioner.registration %></dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3 text-right">Location</dt>
            <dd class="col-sm-9"> <%= @practitioner.location %></dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3 text-right">Email</dt>
            <dd class="col-sm-9"> <%= @practitioner.email %></dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3 text-right">Phone</dt>
            <dd class="col-sm-9"> <%= @practitioner.phone %></dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3 text-right">Fax</dt>
            <dd class="col-sm-9"> <%= @practitioner.fax %></dd>
          </dl>
        </div>

        <%= link_to 'Edit', edit_practitioner_path(@practitioner) %> |
        <%= link_to 'Back', practitioners_path %>
      </div>
    </div>
  </div>
</div>