<!-- Doing this to  make sure the navigation bar hightlights the correct tabs -->
<% content_for :examination_sessions do %>
active
<% end %>

<!-- information start -->
<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-12 ">
    <div class="card">
      <div class="card-header">
        <div class="card-title mb-2">About</div>
      </div>
      <div class="card-body">
        <div class="card-text">
          <dl class="row">
            <dt class="col-sm-3 text-right">Date of Exam</dt>
            <dd class="col-sm-9"> <%= @examination_session.date_of_exam %></dd>
          </dl>

          <dl class="row">
            <dt class="col-sm-3 text-right">Workplace</dt>
            <dd class="col-sm-9"> <%= @examination_session.workplace.name %></dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3 text-right">Examination Type</dt>
            <dd class="col-sm-9"> <%= @examination_session.examination_type %></dd>
          </dl>
        </div>

        <%= link_to 'Edit', edit_examination_session_path(@examination_session)  %> |
        <%= link_to 'Back', examination_sessions_path %>
      </div>
    </div>
  </div>
</div>