<!-- // Basic Horizontal form layout section start -->
<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <p>
            Search for an employee from the drop down then click on "Submit" once found. The record will be
            automatically commited.
          </p>
          <%= form_with(model: employee_examination_session, local: true) do |form| %>
          <% if employee_examination_session.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(employee_examination_session.errors.count, "error") %> prohibited this
              employee_examination_session from being saved:</h2>

            <ul>
              <% employee_examination_session.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

          <div class="form-body">
            <div class="col-12">
              <div class="form-group row">
                <div class="col-md-4">
                  <span> <%= form.label :employee %>
                  </span>
                </div>
                <div class="col-md-8">
                  <%= form.collection_select(:employee_id, @examination_session.all_employees, :id, :name, {}, {:class=>'select2 form-control'}) %>
                </div>
              </div>
            </div>
            <%= form.hidden_field :examination_session_id, class: "form-control", placeholder: "Examination Session ID" %>
            <div class="col-12">
              <div class="form-group row">
                <div class="col-md-4">
                  <span> <%= form.label :remarks %>
                  </span>
                </div>
                <div class="col-md-8">
                  <div class="position-relative has-icon-left">
                    <%= form.text_field :remarks, class: "form-control", placeholder: "Examination Type" %>
                    <div class="form-control-position">
                      <i class="feather icon-lock"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-8 offset-md-4">
              <button type="submit" class="btn btn-primary mr-1 mb-1">Submit</button>
              <button type="reset" class="btn btn-outline-warning mr-1 mb-1">Reset</button>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<!-- // Basic Horizontal form layout section end -->

<!-- The rest of the optional field zitaekwa tu, including DOSH 14 content-->