<%= form_with(model: employee_examination_session, local: true) do |form| %>
  <% if employee_examination_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_examination_session.errors.count, "error") %> prohibited this employee_examination_session from being saved:</h2>

      <ul>
        <% employee_examination_session.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bp %>
    <%= form.text_field :bp %>
  </div>

  <div class="field">
    <%= form.label :btw %>
    <%= form.text_field :btw %>
  </div>

  <div class="field">
    <%= form.label :fp %>
    <%= form.text_field :fp %>
  </div>

  <div class="field">
    <%= form.label :lmp %>
    <%= form.text_field :lmp %>
  </div>

  <div class="field">
    <%= form.label :remarks %>
    <%= form.text_field :remarks %>
  </div>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.text_field :employee_id %>
  </div>

  <div class="field">
    <%= form.label :session_id %>
    <%= form.text_field :session_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
